/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

.osoba{
	display: flex;
	text-align: center;
	padding: 15px;
	border: 1px solid rgb(211, 208, 208);
	flex-direction: column;
	margin: 15px;
	border-radius: 1%;
	box-shadow: 0 5px 4px -4px #a5d0e9;
}

h1{
	text-align: center;
}

img{
	border-radius: 50%;
}


@media (min-width: 540px) {
    .tym{
        display: flex;
        flex-wrap: wrap;
    }
    .osoba{
		width: calc(50% - 15px - 15px); /*-15px je tam za levý a pravý margin*/
		flex-direction: row;
		text-align: left;
	}

	.foto{
		margin-right: 15px;
	}
}

@media (min-width: 960px) {
    .tym{
        display: flex;
		flex-wrap: wrap;
    }
    .osoba{
		width: calc(25% - 15px - 15px);
		flex-direction: column;
		text-align: center;
	}
}

